<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Us</title>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">

    <!--Custom Style Sheet-->
    <link rel="stylesheet" href="/css/support-us.css">

    <!--Bootstarp CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script src="https://js.stripe.com/v3/"></script>

</head>
<body class="payment-container">
 
    <h1>Like what we are doing. Help us grow</h1> 
    <div class="outer">
    <div class="support">
            <input type="number" class="form-control" value="" id="input-val" name="supportAmt" autocomplete="off"> 
            <button type="submit" class="btn btn-primary" id="order-btn">Continue</button>
        <div class="btn-group btn-group-lg suggested-value">
            <button type="button" class="btn btn-primary" id="first-val"> &#8377; 500</button>
        </div>
        <div class="btn-group btn-group-lg suggested-value">
            <button type="button" class="btn btn-primary" id="second-val"> &#8377; 1000</button>
        </div>
        <div class="btn-group btn-group-lg suggested-value">
            <button type="button" class="btn btn-primary" id="third-val"> &#8377; 1500</button>
        </div>
    </div>
   </div>



   <script>
       document.getElementById("third-val").addEventListener("click", function() {
            document.getElementById("input-val").setAttribute("value", 1500);
        });

        document.getElementById("second-val").addEventListener("click", function() {
            document.getElementById("input-val").setAttribute("value", 1000);
        })

        document.getElementById("first-val").addEventListener("click", function() {
            document.getElementById("input-val").setAttribute("value", 500);
        })

        var stripe = Stripe("pk_test_51JdztFSCUl5sZcSLARwCQqbvHKn6Wvyy0bfMjvqFkrtA5bd8UEn3KFBr4orDWUoC7cxc5Kg5OZdtXZ5eaYL3wK5100CFouB4Ks");
        var orderBtn = document.getElementById("order-btn");
        var value_amt ;
        orderBtn.addEventListener("click", function(e) {
            e.preventDefault();
            value_amt = document.getElementById("input-val").value;
            fetch("/support", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    amount: value_amt
                }),
            })
            .then((response) => response.json())
            .then((session) => {
                stripe.redirectToCheckout({sessionId: session.id})
            })
            .catch((error) => {
                console.error("Error: ", error);
            });
        }); 
        
        
   </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>